$color-background-gallery: #f6f6f6;

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 60px 40px;
    padding: 70px 75px;
    background-color: $color-background-gallery;
    border-radius: 25px;
    text-align: center;
}

 @media screen and (max-width:740px) {
    .gallery {
        grid-template-columns: 1fr;
        margin: 22px;
        padding: 0;
        background: #fff;
        grid-gap: 20px;
    }
 }