$couleur-first-degrade: #ffffff00;
$couleur-second-degrade:  #00000050;
$couleur-titre-carte: #fff;

.card {
    position: relative;
    cursor: pointer;
    height: 340px;
    border-radius: 10px;
    transition: 0.5s all;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        z-index: 1;
        background-image: linear-gradient(to bottom, $couleur-first-degrade, $couleur-second-degrade);
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    h2 {
        position: absolute;
        left: 13px;
        z-index: 2;
        color: $couleur-titre-carte;
        bottom: 13px;
        font-weight: normal;
        font-size: 1rem;
    }
}
