$couleur-txt-principal: #ff6060;
$couleur-txt-hover: #ffa5a5;

.error {
    color: $couleur-txt-principal;
    text-align: center;

    h1 {
        font-size: 200px;
        padding: 20px 0 10px;
    }

    p {
        font-size: 24px;
        padding-bottom: 100px;
    }
}

a {
    text-decoration: underline;
    color: $couleur-txt-principal;

    :hover {
        color: $couleur-txt-hover;
        transition: 0.3s all;
    }
}

@media screen and (max-width:740px) {
    .error {

        h1 {
            font-size: 25vw;
        }

        p {
            font-size: 18px;
            text-align: center;
            padding-inline: 10px;
        }
    }

    a {
        font-size: 14px;
        padding-inline: 10px;
    }
 }